body{
    background-color: lightgray;
}

h1{
    font-size: 50px;
    text-align: center;
    color: black;
}

.list-item{
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

/* 頁面按鈕 */

.simple-pagination ul{
    width: 100%;
    list-style: none;
    text-align: center;
    margin-bottom: 50px;

    /* 頁碼固定在下方 */
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
}

.simple-pagination li{
    display: inline-block;
    margin-right: 10px;
}

.simple-pagination li a{
    font-size: 30px;
    color: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 1px solid brown;
    background-color: white;
    box-shadow: 5px 5px 3px black;
}

.simple-pagination .current{
    font-size: 30px;
    color: brown;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background-color: yellow;
    border: 1px solid brown;
    box-shadow: 5px 5px 3px black;
}

@media (max-width:600px){

    .simple-pagination li a{
        font-size: 18px;
        padding: 3px 3px 3px 3px;
    }
    .simple-pagination .current{
        font-size: 18px;
        padding: 3px 3px 3px 3px;
    }

}